*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #272937;
  font-family: "DM Sans", sans-serif;
  background: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
@media (max-width: 768px) {
  ._container {
    padding: 0 5px;
  }
}

._hidden {
  display: none;
}

.content__wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: row-reverse;
}
@media (max-width: 1024px) {
  .content__wrapper {
    flex-direction: column-reverse;
  }
}

.right__side {
  width: 100%;
}

.left__side {
  width: 35%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgb(244, 244, 247);
  background: linear-gradient(126deg, rgb(244, 244, 247) 0%, rgb(197, 235, 244) 54%, rgb(242, 222, 240) 100%);
  box-shadow: 2px 0px 4px lightgrey;
}
@media (max-width: 1024px) {
  .left__side {
    width: 100%;
  }
}

.title {
  margin-bottom: 16px;
}
.title h2 {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 133.33%;
  color: rgb(46, 46, 72);
}
.title__icon {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}
.title__icon img {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: -50px;
}

.experience__body {
  padding: 32px 0px 24px 20px;
}
@media (max-width: 1024px) {
  .experience__body {
    padding: 15px 0 0px 0px;
  }
}

.exp-title {
  margin-bottom: 16px;
}
.exp-title h2 {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 133.33%;
  color: rgb(46, 46, 72);
}
.exp-title__icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}
.exp-title__icon img {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: -50px;
}

.exp-list {
  width: 100%;
}
.exp-list__info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 8px 12px;
  background: #F7F9FC;
  border: 1px solid transparent;
  transition: background 1s ease;
}
@media (max-width: 768px) {
  .exp-list__info {
    display: block;
  }
}
.exp-list__info:first-child {
  border-radius: 4px 4px 0px 0px;
}
.exp-list__info:last-child {
  border-radius: 0px 0px 4px 4px;
}
.exp-list__info:not(:last-child) {
  margin-bottom: 5px;
}
.exp-list__info:hover {
  background: #F8F2FC;
  cursor: pointer;
}
.exp-list__icon {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
@media (max-width: 768px) {
  .exp-list__icon {
    display: none;
  }
}
.exp-list__icon img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.exp-list__title {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 128%;
  color: #79819A;
}
.exp-list__title span {
  font-family: inherit;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 128%;
  color: #2E2E48;
}
.exp-list__dates {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 133.33%;
  color: #47516B;
}
.exp-list__description {
  padding: 15px 0px 55px 25px;
}
.exp-list__description span {
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.exp-list__description li {
  list-style: disc;
  line-height: 120%;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.tab_active {
  background: #F8F2FC;
}

.skills__body {
  width: 100%;
  padding: 32px 0px 24px 20px;
}
@media (max-width: 768px) {
  .skills__body {
    padding: 15px 0px 0px 0px;
  }
}
.skills__category {
  margin-bottom: 25px;
}

.skills-category__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 128%;
  color: #2E2E48;
  margin-bottom: 15px;
}
.skills-category__title img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
  transform: translateY(-7px);
}
.skills-category__list {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: center;
  gap: 5px;
  flex-wrap: wrap;
}

.category-list__item {
  padding: 11px 8px;
  background: #F7F9FC;
  border-radius: 0px 4px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 128%;
  color: #516CF7;
}

.tools__body {
  width: 100%;
  padding: 32px 0px 24px 20px;
}
@media (max-width: 768px) {
  .tools__body {
    padding: 15px 0px 0px 0px;
  }
}
.tools__list {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 10px;
}
.tools__item {
  padding: 15px 5px 10px;
  background: #F7F9FC;
  border-radius: 5px;
  width: 18%;
}
@media (max-width: 768px) {
  .tools__item {
    width: 20%;
  }
}
@media (max-width: 425px) {
  .tools__item {
    width: 30%;
  }
}

.tools-item__logo {
  margin-bottom: 15px;
}
.tools-item__logo img {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .tools-item__logo img {
    width: 25px;
    height: 25px;
  }
}
.tools-item__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 128%;
  color: #2E2E48;
}
@media (max-width: 768px) {
  .tools-item__description {
    font-size: 12px;
  }
}

.education__body {
  width: 100%;
  padding: 32px 0px 24px 20px;
}
@media (max-width: 768px) {
  .education__body {
    padding: 15px 0px 15px 0px;
  }
}
.education__list {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}
@media (max-width: 768px) {
  .education__list {
    flex-direction: column;
    text-align: start;
  }
}

.edu-list__item {
  padding: 18px 12px 10px;
  background: #F7F9FC;
  width: 31.5%;
  height: 180px;
}
@media (max-width: 768px) {
  .edu-list__item {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    gap: 10px;
  }
}
.edu-list__icon {
  margin: 0px auto 15px;
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .edu-list__icon {
    margin: 0px 0px 5px 0px;
  }
}
.edu-list__icon img {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .edu-list__icon img {
    width: 35px;
    height: 35px;
  }
}
.edu-list__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 128%;
  color: #79819A;
}
.edu-list__description span {
  font-size: 16px;
  font-weight: 700;
  line-height: 128%;
  color: #79819A;
  display: block;
  margin-bottom: 15px;
}

.profile__body {
  padding: 25px 20px 0px 25px;
}
@media (max-width: 1024px) {
  .profile__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
.profile__body::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #79819A;
  margin: 0 auto;
}
.profile__img {
  margin-bottom: 15px;
}
.profile__img img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.profile__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 125%;
  color: #2E2E48;
  font-family: "Outfit", sans-serif;
  margin-bottom: 16px;
}

.contact__body {
  padding: 25px 20px 0px 25px;
}
.contact__body::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #79819A;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .contact__body::after {
    display: inline-block;
  }
}
@media (max-width: 1024px) {
  .contact__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .contact__body {
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
  }
}
.contact-item {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.contact-item:not(:last-child) {
  margin-bottom: 25px;
}
.contact-item:last-child {
  margin-bottom: 15px;
}
.contact-item__pic img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-item__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #47516B;
}
.contact-item__description a {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #47516B;
}
.contact-item__description span {
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #79819A;
}

.socials__body {
  padding: 25px 20px 0px 25px;
}
@media (max-width: 1024px) {
  .socials__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .socials__body {
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
  }
}
.socials__body::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #79819A;
  margin: 0 auto;
}
.socials__title {
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #79819A;
}
@media (max-width: 1024px) {
  .socials__title {
    display: none;
  }
}
@media (max-width: 550px) {
  .socials__title {
    display: block;
  }
}
.socials-item {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.socials-item:not(:last-child) {
  margin-bottom: 25px;
}
.socials-item:last-child {
  margin-bottom: 15px;
}
.socials-item__pic img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.socials-item__description span {
  display: block;
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #79819A;
}
.socials-item__description a {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #47516B;
}

.lang__body {
  padding: 25px 20px 0px 25px;
}
.lang__body::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #79819A;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .lang__body::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .lang__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .lang__body {
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
  }
}
.lang__title {
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #79819A;
}
@media (max-width: 1024px) {
  .lang__title {
    display: none;
  }
}
@media (max-width: 550px) {
  .lang__title {
    display: block;
  }
}
.lang__item {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 10px;
}
.lang__item:not(:last-child) {
  margin-bottom: 25px;
}
.lang__item:last-child {
  margin-bottom: 15px;
}

.lang-item__pic img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.lang-item__decription {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #79819A;
}
.lang-item__decription span {
  display: block;
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #47516B;
}/*# sourceMappingURL=style.css.map */