@import '../source/null.scss';

//-----------------general-----------------
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

@mixin fontStyle ($fs,$fw,$lh,$clr) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
}

@mixin flexStyle ($fl, $jc, $ai, $ta) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
    text-align: $ta;
}

._container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._hidden{
    display: none;
}

.content__wrapper{
    @include flexStyle(flex, start, start, start);
    flex-direction: row-reverse;
}

.right__side{
    width: 80%;
}
.left__side{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F7F9FC;
    box-shadow: 2px 0px 4px lightgrey;
}
//-----------------/general-----------------




//-----------------experince-----------------
.title{
    margin-bottom: 16px;
    h2{
        font-family: 'Outfit', sans-serif;
        @include fontStyle(26px, 500, 133.33%, rgba(46, 46, 72, 1));
    }
    &__icon {
        position: relative;
        @include flexStyle(flex, flex-start, start, start);
        img{
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            padding: 5px;
            position: absolute;
            top: 5px;
            left: -50px;
        }
    }
}
.experience {

    &__body {
        padding: 32px 0px 24px 20px;
        
    }
}
.exp-body {

    &__title {
    }

    &__list {
    }
}
.exp-title {
    margin-bottom: 16px;
    h2{
        font-family: 'Outfit', sans-serif;
        @include fontStyle(26px, 500, 133.33%, rgba(46, 46, 72, 1));
    }
    &__icon {
        position: relative;
        @include flexStyle(flex, flex-start, start, start);
        img{
            border: 1px solid #fff;
            border-radius: 50%;
            background: #fff;
            padding: 5px;
            position: absolute;
            top: 5px;
            left: -50px;
        }
    }
}
.exp-list {
    width: 700px;
    &__info{
        width: 100%;
        @include flexStyle(flex, flex-start, center, start);
        padding: 8px 12px;
        background: #F7F9FC;
        border: 1px solid transparent;
        transition: background 1s ease ;
        &:first-child{
            border-radius: 4px 4px 0px 0px;
        }
        &:last-child{
            border-radius: 0px 0px 4px 4px;
        }
        &:not(:last-child){
            margin-bottom: 5px;
        }
        &:hover{
            background: #F8F2FC;
            cursor: pointer;
        }
      
    }

    &__icon {
        height: 50px;
        width: 50px;
        margin-right: 8px;
        img{
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        font-family: 'Outfit', sans-serif;
        @include fontStyle(16px, 400, 128%, #79819A);
        span{
            font-family: inherit;
            display: block;
            @include fontStyle(18px, 500, 128%, #2E2E48);
        }
    }

    &__dates {
        margin-left: auto;
        @include fontStyle(16px, 400, 133.33%, #47516B);
    }

    &__description {
        padding: 15px 0px 55px 25px;
        
       span{
        font-size: 18px;
        margin-bottom: 15px;
        display: block;
       }
        li{
            list-style: disc;
            line-height: 120%;
            font-family: 'Outfit', sans-serif;
            font-size: 16px;
        }
    }
}


.tab_active{
    background: #F8F2FC;
}



//-----------------/experince-----------------



//-----------------skills-----------------


.skills {

		&__body {
            width: 700px;
            padding: 32px 0px 24px 20px;
		}

		&__title {
		}

		&__table {
        
		}

		&__category {
            margin-bottom:25px; 
		}
}

.skills-category {

		&__title {
            
            @include fontStyle(16px, 500, 128%, #2E2E48);
            margin-bottom: 15px;
            img{
                width: 35px;
                height: 35px;
                object-fit: contain;
                margin-right: 5px;
                transform: translateY(-7px);
            }
		}

		&__list {
            @include flexStyle(flex, flex-start, start, center);
            gap: 5px;
            flex-wrap: wrap;
		}
}
.category-list {

		&__item {
            padding: 11px 8px;
            background: #F7F9FC;
            border-radius: 0px 4px 0px 0px;
            @include fontStyle(18px, 500, 128%, #516CF7);
		}
}



//-----------------/skills-----------------


//-----------------tools-----------------

.tools {

    &__body {
        width: 700px;
        padding: 32px 0px 24px 20px;
    }

    &__title {
    }

    &__list {
        margin: 0 auto;
        @include flexStyle(flex, flex-start, center, center);
        flex-wrap: wrap;
        height: 100%;
        gap: 10px;
    }

    &__item {
        padding: 15px 5px 10px;
        background: #F7F9FC;
        border-radius: 5px;
        width: 18%;
    }
}

.tools-item {

    &__logo {
        margin-bottom: 15px;
        img{
           width: 45px;
           height: 45px;
           object-fit: contain; 
        }
    }

    &__description {
        @include fontStyle(18px, 500, 128%, #2E2E48);
    }
}




//-----------------/tools-----------------


//-----------------education-----------------

.education {

    &__body {
        width: 700px;
        padding: 32px 0px 24px 20px;
    }

    &__title {
    }

    &__list {
        @include flexStyle(flex, start, start, center);
        flex-wrap: wrap;
        gap: 5px;
    }
}

.edu-list {

    &__item {
        padding: 18px 12px 10px;
        background: #F7F9FC;
        width: 31.5%;
        height: 180px;
    }

    &__icon {
        margin:0px auto 15px;
        img{
            width: 45px;
            height: 45px;
            object-fit: contain;
        }
        width: 45px;
        height: 45px;
        object-fit: contain;
    }

    &__description {
        @include fontStyle(12px, 400, 128%, #79819A);
        
        span{
            @include fontStyle(16px, 700, 128%, #79819A);
            display: block;
            margin-bottom: 15px;
        }
    }
}


//-----------------/education-----------------