*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #272937;
  font-family: "DM Sans", sans-serif;
  background: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._hidden {
  display: none;
}

.content__wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: row-reverse;
}

.right__side {
  width: 80%;
}

.left__side {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F7F9FC;
  box-shadow: 2px 0px 4px lightgrey;
}

.title {
  margin-bottom: 16px;
}
.title h2 {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 133.33%;
  color: rgb(46, 46, 72);
}
.title__icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}
.title__icon img {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: -50px;
}

.experience__body {
  padding: 32px 0px 24px 20px;
}

.exp-title {
  margin-bottom: 16px;
}
.exp-title h2 {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 133.33%;
  color: rgb(46, 46, 72);
}
.exp-title__icon {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: start;
}
.exp-title__icon img {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: -50px;
}

.exp-list {
  width: 700px;
}
.exp-list__info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: 8px 12px;
  background: #F7F9FC;
  border: 1px solid transparent;
  transition: background 1s ease;
}
.exp-list__info:first-child {
  border-radius: 4px 4px 0px 0px;
}
.exp-list__info:last-child {
  border-radius: 0px 0px 4px 4px;
}
.exp-list__info:not(:last-child) {
  margin-bottom: 5px;
}
.exp-list__info:hover {
  background: #F8F2FC;
  cursor: pointer;
}
.exp-list__icon {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
.exp-list__icon img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.exp-list__title {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 128%;
  color: #79819A;
}
.exp-list__title span {
  font-family: inherit;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 128%;
  color: #2E2E48;
}
.exp-list__dates {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 133.33%;
  color: #47516B;
}
.exp-list__description {
  padding: 15px 0px 55px 25px;
}
.exp-list__description span {
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.exp-list__description li {
  list-style: disc;
  line-height: 120%;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.tab_active {
  background: #F8F2FC;
}/*# sourceMappingURL=style.css.map */