body{
   background-color: #7810af;
   font-family: Gotham Pro;
   box-sizing: border-box;
   margin: 0;
}


/*Main Menu*/

.mainMenu{
    max-width: 100%;
    height: 60px;
    background-color: #7810af;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}


.mainMenuImg{
    margin-left: 17px;
    padding-right: 20px;
    cursor: pointer;
}


.mainMenuItem{
    max-width: 100%;
    font-size: 12.88px;
    font-family: Gotham Pro-Medium;
    text-transform: uppercase;
    line-height: 4rem;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;

}

.mainMenuItem:hover{
    background-color: #2e0b5a;
}

.mainMenuItem--sub:hover{
    background-color: #7810af;
}



.menu-spacer{
    -webkit-box-flex: 2;
    flex-grow: 2;
}

.language{
    max-width: 70px;
    max-height: 35px;
    margin-top: 10px;
}


.langImg{
    max-width: 50px;
    max-height: 35px;
    padding: 0 10px;

}


.buttonSign{
    display: flex;
    color: #162417;
    background-color: #fde247;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 3.5rem;
    box-shadow: none;
    border: none;
    border-radius: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 2rem;
    font-family: Gotham GothamPro-Bold;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*Sub Menu*/

.subMenu{
    max-width: 100%;
    height: 60px;
    background-color: #2e0b5a;
    display: flex;
    justify-content: initial;
}

/*regForm*/

.regBody{
    width: 100%;
    height: 576px;
    padding: 40px 40px 55px 40px;
    background-color: #7810af;
    display: flex;
    justify-content: center;
}

    .regItem{ 
        width: 406px;
        height: 576x;
        background-color: #fff;
    }

.regItem--left{
    width: 406px;
    background: url(../assets/regForm/baoCat2.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
}

.leftTextBonus{
    width: 259px;
    height: 150px;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Gotham Pro-Bold;
    line-height: 1;
    letter-spacing: 1px;
    color: rgb(170, 165, 165);
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 1;
}


.leftTextGames{
    width: 259px;
    height: 85px;
    font-size: 14px;
    line-height: 1.27;
    color: #fff;
    position: absolute;
    left: 40px;
    top: 460px;

}



/*Fonts*/
@font-face{
    font-family: Gotham Pro;
    src: url(../types/GothamPro.ttf);
}

@font-face{
    font-family: Gotham Pro-Medium;
    src: url(../types/GothamPro-Medium.ttf);
}

@font-face{
    font-family: Gotham Pro-Bold;
    src: url(../types/GothamPro-Bold.ttf);
}